.spacer {
    margin-left: 12px;
    margin-bottom: 24px;
}

span {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

select,
input {
    margin-right: 12px;
}

hr {
    border: 1px solid rgba(48, 48, 48, 0.527);
}
